@import 'bootstrap-custom';

@import 'ng-quick-date';
@import 'ng-quick-date-default-theme';
@import 'angucomplete-alt';
@import 'font-awesome';

.jumbotron {
  h1 {
    margin-top: 0;
  }
}

.row {
  &.campground {
    margin-bottom: $padding-large-vertical;
  }
}

.flash {

}
.flash-error {
  @extend .alert;
  @extend .alert-danger;
}
.flash-success {
  @extend .alert;
  @extend .alert-success;
}


.quickdate-button {
  @extend .form-control;
}

.form-checkboxes {
  margin-top: 15px;
}

.contact-row {
  margin-top: 15px;
}

table.quickdate-calendar td.disabled-date {
  color: #ddd;
}

.footer-content {
  margin-top: $padding-large-vertical * 2;
  padding-top: $padding-large-vertical * 2;
  padding-bottom: $padding-large-vertical * 2;
  border-top: solid 1px $gray-lighter;
  text-align: center;
  color: $gray-light;
}


.table {
  th {
    background: lighten($the-green, 35%);
  }
}
