.container
  .row
    .col-md-8
      .panel.panel-warning
        .panel-heading
          %h2.panel-title Your request has been canceled
        .panel-body
          %a{ 'ui-sref' => 'availabilityRequests' }
            %button.btn.btn-success
              Create a new request
