

%dl.dl-horizontal{ 'ng-repeat' => "item in items | orderBy: ['status', 'dateStart']" }
  %dt Status:
  %dd {{item.status}}

  %dt Campground:
  %dd
    {{item.typeSpecific.parkName}}
    \-
    {{item.typeSpecific.state}}

  %dt Dates:
  %dd
    {{item.dateStart | amFromUnix | amUtc | amDateFormat:'M/D/YYYY'}}
    \-
    {{item.dateEnd | amFromUnix | amUtc | amDateFormat:'M/D/YYYY'}}
  %dt Nights:
  %dd {{item.lengthOfStay}}

  %dt Found Count:
  %dd {{item.availabilities.length || 0}}

  %dt Last Checked:
  %dd {{item.checkedAt | amFromUnix | amDateFormat:'M/D/YYYY h:mm a'}}

  %dt Run Count:
  %dd {{item.checkedCount}}

  %dt Actions:
  %dd
    %a{ 'ui-sref' => 'availabilityRequestsCancel({arId:item.id})', 'ng-show' => "item.status == 'active'" }
      %button.btn.btn-xs.btn-warning
        Cancel

    %a{ 'ui-sref' => 'availabilityRequestsUnpause({arId:item.id})', 'ng-show' => "item.status == 'unpause'" }
      %button.btn.btn-xs.btn-warning
        Unpause

    %a{ 'ui-sref' => 'availabilityRequest({arId:item.id})', 'ng-hide' => "item.id == ar.id" }
      %button.btn.btn-xs.btn-success
        View
