
.panel.panel-warning
  .panel-heading
    %h2.panel-title Your request has reactivated and we will continue to check for campsite availabilities.
  .panel-body
    %a{ 'ui-sref' => 'availabilityRequestNew' }
      %button.btn.btn-success
        Create a new request
