button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &.small {
    padding: .35em .5em;
  }

  &.green {
    background-color: $green;
    &:hover {
      background-color: darken($green, 15);
    }
  }
  &.red {
    background-color: $light-red;
  }
  &.gray {
    background-color: $light-gray;
    &:hover {
      background-color: $medium-gray;
    }
  }
}
