
.wrap
  %section

    .card
      .card-copy

        %h1 Campground full?
        %h5 Tell us when and where you want to camp and we will let you know when a site becomes available.

        %br/

        %p
          Start typing the name of the campground you want to stay at. Next select a date range and the number of nights you would like to stay.
        %p
          For example you could request a stay at Bahia Honda State Park in Florida for 5 consecutive nights anytime between January 1 and March 1.
        %p
          We will check Reserve America every few minutes to see if any sites become available. If any do, we will email you.

  %section#availability_request_new
    .card{ 'ui-view' => "availability_request_new" }
