
.jumbotron
  .container
    %h1 Campground Full?
    %h4 Tell us when and where you want to camp and we will let you know when a site becomes available.

.content{ 'ui-view' => "availability_request_new" }
