      </div>
    </td>
  </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
  <tr>
    <td class="container">

      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>Got Questions?</p>
              <p><a href="http://mail:info@wanderinglabs.com">info@wanderinglabs.com</a></p>

              <br/>
              <p style="color: #999;">
                Wandering Labs is not affiliated with, maintained by, or in any way officially connected with Reserve America or Active Network.
              </p>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->

    </td>
  </tr>
</table>
<!-- /footer -->

</body>
</html>
