{{#*inline "AvailabilitiesRow"}}
  <tr>
    <td>{{arrivalDateFormatted}}</td>
    <td>{{daysLength}}</td>
    <td>{{siteNumber}}</td>
    <td><a href="{{{reserveUrl}}}" class="reserve">Reserve</a></td>
  </tr>
{{/inline}}

{{#*inline "AvailabilitiesTable"}}
  <table class="availTable" cellspacing=0>
    <tr class="availHeader">
      <td>Date</td>
      <td># Nights</td>
      <td>Site #</td>
      <td>Reserve</td>
    </tr>
    {{#each availabilitiesItems}}
      {{> AvailabilitiesRow}}
    {{/each}}
  </table>
{{/inline}}

{{> header}}

<table>
  <tr>
    <td>
      <h3>We found a possible campsite... Be quick and reserve it now!!</h3>
      <p>You asked us to look for {{lengthOfStay}} nights sometime between {{dateStartFormatted}} and {{dateEndFormatted}}.</p>

      <h4>New availabilities:</h4>

      {{> AvailabilitiesTable availabilitiesItems=availabilitiesNew}}

      {{#if availabilitiesOld}}
        <h4>Previously notified availabilities, but still open:</h4>
        {{> AvailabilitiesTable availabilitiesItems=availabilitiesOld}}
      {{/if}}

      <p>
        This is just a notification. You have not yet made a reservation.<br/>
        Act fast as someone else may reserve the site before you can. (It may already be re-booked)
      </p>

      <p>
        <a href="http://reserve.wanderinglabs.com/{{{id}}}/cancel"  style="color: #77b57a; text-decoration: none; line-height: 2; font-weight: bold; cursor: pointer;">I got a reservation! Stop Notifications</a> |
        <a href="http://reserve.wanderinglabs.com/{{{id}}}/cancel" style="color: #a3a3a3; text-decoration: none; line-height: 2; font-weight: bold; cursor: pointer;">No longer looking. Stop Notifications</a>
      </p>

      <p>
        You can review this request and all your campsite requests at:<br/>
        <a href="http://reserve.wanderinglabs.com/{{{id}}}"  style="color: #77b57a; text-decoration: none; line-height: 2; font-weight: bold; cursor: pointer;">http://reserve.wanderinglabs.com/{{{id}}}</a>
      </p>

      <h4>Help out and become a Premium Member</h4>
      <p>Become a premium member by sending a few bucks our way and we will upgrade your request to never pause; plus we will check Reserve America for you even more frequently. </p>
      <p>Any amount will get you premium status. Send what you think this service is worth.</p>

      <h3 class="button buttonInline"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=HXY8SDLP6JP3N&lc=US&item_name=Premium%3a%20reserve%2ewanderinglabs%2ecom&amount=10%2e00&currency_code=USD&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted">$10</a></h3>
      <h3 class="button buttonInline"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=HXY8SDLP6JP3N&lc=US&item_name=Premium%3a%20reserve%2ewanderinglabs%2ecom&amount=20%2e00&currency_code=USD&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted">$20</a></h3>
      <h3 class="button buttonInline"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=HXY8SDLP6JP3N&lc=US&item_name=Premium%3a%20reserve%2ewanderinglabs%2ecom&amount=25%2e00&currency_code=USD&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted">$25</a></h3>
      <h3 class="button buttonInline"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=HXY8SDLP6JP3N&lc=US&item_name=Premium%3a%20reserve%2ewanderinglabs%2ecom&amount=50%2e00&currency_code=USD&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted">$50</a></h3>

    </td>
  </tr>
</table>

{{> footer}}
